
.bg{
    background-image: url(https://media.istockphoto.com/photos/test-doctor-doing-coronavirus-covid-19-test-for-male-patient-taking-a-picture-id1219506967);
    height: 600px;
}
.container{
    height: auto;
    background-color: #4283ce9a;
}