<section id="hero" style="background-color: rgb(231, 245, 231);">
    
            <div class="" >
                
                    <h2>Welcome to AIIMS hospital </h2>
                    <div>
                        <img src="https://wallpaperaccess.com/full/1282835.jpg" alt="" width="1000px" height="500px">
                    </div>
                        <div>
                            <h5>About the Hospital</h5>
                            <p>Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process. The modern hospital also often serves as a centre for investigation and for teaching.</p>
                        </div>
            </div>
</section>